{% extends 'layout.html' %}

{% block body %}
  <div id="mainContent">
    <h1>Acess Point Setup</h1>
    </br>
    <div id="wpaCredentialsForm">
      <form action="{{ url_for('setar_ap') }}" method=post>
        <ul>
	 <li><label for="nameAp">Nome da Rede:</label></li>
          <li><input type="text" name="nameAp" class="wifiNetworkInputs"></li>
          <li><label for="senhaAp">Senha da Rede:</label></li>
          <li><input type="text" name="senhaAp" class="wifiNetworkInputs"></li>

          <input type="submit", class="wifiConnectButton">
        </ul>
      </form>
    </div>
  </div>
{% endblock %}
